# The Q Branch
<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/01/26/16/q-james-bond.jpg?w968h681" width="350px"/>

Welcome to the Q Branch! <a href="https://en.wikipedia.org/wiki/Q_(James_Bond)">Q</a> has graciously agreed to supply you with a number of useful ~~gadgets~~functions in order to solve the murder of Roger Castricum, as well as how to use them.

## Pandas

<a id='reading-in-data'></a>
### Reading in data

`pandas` has a convinient function to load in CSV (Comma Separated Values).

Use `pd.read_csv` to load in any CSV-formatted file.

In [6]:
import pandas as pd

In [7]:
example = pd.read_csv('../data/example.csv')

### Dataframes
A dataframe is an in-memory representation of a dataset, formatted nicely into columns and rows. In order to get an idea of what a dataframe looks like, use the `head` method and `shape` variable.

In [8]:
# Get the first five rows of data
example.head()

      name           major  grad_year
0   george  data analytics       2019
1   ashley         finance       2021
2  charles      psychology       2019
3    brian         english       2020
4   hannah    architecture       2022

In [9]:
# See the dimensions of the dataset (rows,columns)
example.shape

(5, 3)

### Series
A column in a dataframe is called a series.

In order to see a specific series in a dataframe, use the following syntax:

`<dataframe name>.<series name>`

In [10]:
# Access the 'name' series of the example dataset
example.name

0     george
1     ashley
2    charles
3      brian
4     hannah
Name: name, dtype: object

#### Series operations
Dataframe series have a number of useful methods for analyzing data. 

Use `value_counts()` on the `grad_year` series of the dataframe to get the counts of each value in the dataset.

In [11]:
# How many students in each grad year are there?
example.grad_year.value_counts()

2019    2
2022    1
2021    1
2020    1
Name: grad_year, dtype: int64

### Dataframe indexing/filtering

In order to select rows in a dataset where a condition applies, use the following syntax:

`<dataframe name>[<condition>]`

In [12]:
# Only see students whose graduation year is in 2019
example[example.grad_year == 2019]

      name           major  grad_year
0   george  data analytics       2019
2  charles      psychology       2019

<a id='test'></a>
Pandas