In [1]:
import pandas as pd

In [3]:
weapons = pd.read_csv('../data/weapondata.csv')

In [26]:
weapons.head()

        RI     Al    Mn    Pb     Si     K     Cu   Ag   Fe      Type
0  1.52101  13.64  3.49  0.30  71.78  0.06  11.75  0.0  0.0  Revolver
1  1.51761  13.89  2.60  0.56  72.73  0.48  10.83  0.0  0.0  Revolver
2  1.51618  13.53  2.55  0.74  72.99  0.39  10.78  0.0  0.0  Revolver
3  1.51766  13.21  2.69  0.49  72.61  0.57  11.22  0.0  0.0  Revolver
4  1.51742  13.27  2.62  0.44  73.08  0.55  11.07  0.0  0.0  Revolver

In [8]:
weapons.shape

(205, 10)

In [6]:
murder = pd.read_csv('../data/murderdata.csv')

In [7]:
murder.head()

        RI     Al    Mn    Pb     Si     K     Cu    Ag    Fe
0  1.51748  13.86  2.56  0.47  72.29  0.54  11.28  0.00  0.17
1  1.51831  11.39  0.00  1.32  73.86  0.74   7.27  1.88  0.00

In [22]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 1870)

In [23]:
rf.fit(
    weapons.drop('Type', axis=1), 
    weapons.Type
)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=1870,
                       verbose=0, warm_start=False)

In [25]:
rf.predict(murder)

array(['Revolver', 'Candlestick'], dtype=object)